extends /views/templates/frontend-base.pug
include /views/mixins/pink-button.pug

append styles
    link(href="/assets/css/pages/services/mathsoc-office.css" rel="stylesheet")  
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

block body 
    each section in data.sections
        section(class="service")
            img(src=section.img)
            div(class="service-item")
                h2(class="service-title") #{section.title}
                p #{section.description}
                p #{section.subdescription}
                each item in section.items 
                    li #{item.item}
                each contact in section.contacts  
                    p #{contact.contact}
        +section("cards")
            div(class="cards") 
                include ../../mixins/components.pug
                +flipCard("Rentals", "/assets/img/flipcards/msoc-22-scaled.jpeg")
                    img(src="/assets/img/icons/tie-icon.svg")
                    p We provide Textbook Rentals, Board Game Rentals, Calculator Rentals, and equipment for our clubs and members!
                +flipCard("Services", "/assets/img/flipcards/msoc-27-scaled.jpeg")
                    img(src="/assets/img/icons/tie-icon.svg")
                    p We provide a printing service at a low price and we have a microwave and free snacks available for all members!
                +flipCard("Store", "/assets/img/flipcards/msoc-32-scaled.jpeg")
                    img(src="/assets/img/icons/tie-icon.svg")
                    p We sell novelties like MathSoc swag, stationary items, faculty approved calculators, and more at affordable prices.
            
    
    