extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/resources/forms.css" rel="stylesheet")

append scripts
    script(src="/assets/js/collapsible.js" defer)
    
block body
    div(class="content")
        section
            h1 #{data.title}
            div(class="pink-button-grid")
                each form in data.formLinks
                    +pink-button(form.title, '', form.link)
            h1 #{data.process.header}
            p !{data.process.descriptionMarkdown}
            h2 #{data.process.requirementsSubheader}
            ul
                each req in data.process.requirements
                    li
                        p!=req.descriptionMarkdown
            h2 #{data.additionalDocumentationItems.header}
            each item in data.additionalDocumentationItems.items
                h3 #{item.title}
                p!=item.descriptionMarkdown
            h1 #{data.frequentlyAskedQuestions.header}
            each question in data.frequentlyAskedQuestions.questions
                button(type="button" class="collapsible-button" value="" + title + "")= question.question
                div(class="collapsible-content")
                    p!=question.questionMarkdown
            h1 #{data.otherForms.header}
            div(class="pink-button-grid")
                each form in data.otherForms.forms
                    +pink-button(form.title, '', form.link)
            p!=data.otherForms.footnote 
            h2 #{data.mathSocFees.header}
            p!=data.mathSocFees.descriptionMarkdown
