extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/resources/wellness.css" rel="stylesheet")

block body
    +banner-image("/assets/img/banners/mathsoc-wall.jpeg")
    div(class="content")
    section(class="white")
        h1 #{data.title}
        p(class="subheader") #{data.subheader}
        h2 #{data.onCampus}
        ul
            each children in data.onCampusChildren
                if children.link != ""
                    li  
                        a(href="" + children.link +"" target="_blank") #{children.title}
                    ul
                        each textItem in children.text
                            li #{textItem}
                else 
                    li #{children.title}
                    ul
                        each textItem in children.text
                            li #{textItem}
        h2 #{data.offCampus}
        ul
            each children in data.offCampusChildren
                if children.link != ""
                    li  
                        a(href="" + children.link +"" target="_blank") #{children.title}
                    ul
                        each textItem in children.text
                            li #{textItem}
                else 
                    li #{children.title}
                    ul
                        each textItem in children.text
                            li #{textItem}   
