extends /views/templates/frontend-base.pug

append styles
  link(href='/assets/css/pages/documents/budgets.css' rel="stylesheet")

block body
  +section(null, "white")
    h1 Budgets
    p!=data.descriptionMarkdown
    table(id="budgets-table")
      tr
        th Year 
        th Winter term
        th Spring term 
        th Fall term
      each budget in data.budgets.sort((a, b) => b.year - a.year) 
        tr(class="body-row")
          td(class="budget-year") #{budget.year}
          td 
            if budget.winter 
              a(href=budget.winter) Winter #{budget.year}
          td 
            if budget.spring 
              a(href=budget.spring) Spring #{budget.year}
          td 
            if budget.fall 
              a(href=budget.fall) Fall #{budget.year}
