extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/inventory/item.css" rel="stylesheet")
append scripts
    script(src="/assets/js/collapsible.js" defer)

block body
    section 
        div(class="col-text")
            h1(class="item-name") #{data.item}
            h2(class="item-price") #{data.price}
            p(class="item-description") #{data.description}
        div(class="col-image")
            img(class="item-image" src=data.image, alt=data.item)
        
        div(class="more-items")
            +collapsible-sales(category)