extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/get-involved/clubs.css" rel="stylesheet")

block body
    +banner-image("/assets/img/banners/mathsoc-wall.jpeg")
    div(class="content")
    section(class="white")
        //- h1 #{data.title}
        //- p(class="subheader") #{data.subheader}
        ol(class="stepper")
            each club in data.clubs
                li(class="stepper_item")
                    div(class="stepper_content")
                        a(href=club.link target="_blank" class="club_link")
                            h3(class="stepper_title") #{club.title}
                        p(class="stepper_text")!=club.text
                        //- img(src=step.img)