extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/get-involved/council.css" rel="stylesheet")

append scripts
    script(src="/assets/js/collapsible.js" defer)
    script(src="/assets/js/form-error.js" defer)

block body
    +banner-image("/assets/img/banners/mathsoc-wall.jpeg")
    div(class="mailing-list-form")
        section(class="white")
            form(action="/api/mailing-list" method="post")
                label(for="email") Sign up for the council mailing list here
                input(required type="email" id="email" name="email" placeholder="Email Address")
                div(id="email-error" class="error-message")
                button(id="email-btn" class="pink-button" type="submit") Join mailing list
    div(class="content")
        section(class="white")
            h1 #{data.councilHeader}
            div!=data.councilResponseMarkdown
            h1 #{data.compositionOfCouncilHeader}
            div!=data.compositionOfCouncilMarkdown
            h1 #{data.execsHeader}
            div(class="execs-grid")
                each exec in sources.execs.execs 
                    +person-card(exec.name, exec.role, exec.email, exec.image)
            h1 #{data.councilRepHeader}
            div(class="execs-grid")
                each rep in data.councilRepresentatives 
                    +person-card(rep.name, rep.role, rep.email, rep.image)