extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/get-involved/volunteer.css" rel="stylesheet")
append scripts
    script(src="/assets/js/collapsible.js" defer)

block body
    +banner-image("/assets/img/banners/mathsoc-wall.jpeg")
    div(class="content")
        section(class="white")
            h1 #{data.title}
            p #{data.subtext}
            each team in data.teams
                h3 #{team.name}
                if team.subheader != ""
                    p #{team.subheader}
                each role in team.roles
                    if role.active
                        +collapsible(role.title, role.descriptionMarkdown, data.path + role.link)
                    else 
                        +collapsible(role.title, role.descriptionMarkdown, "")
            h1 #{data.clubsTitle}
            p !{data.clubsSubheaderMarkdown}
        
