include /views/mixins/banner-image.pug
include /views/mixins/components.pug

doctype html 
html(lang="en")
    head 
        title Volunteer at MathSoc &#8211; MathSoc
        include /views/partials/header.pug
        link(href="/assets/css/pages/volunteer.css" rel="stylesheet")
        script(src="/assets/js/collapsible.js" defer)

    body
        include /views/partials/navbar.pug
        +banner-image("/assets/img/banners/mathsoc-wall.jpeg")
        div(class="content")
            section(class="white")
                h1 #{volunteer.title}
                p #{volunteer.subtext}
                each team in volunteer.teams
                    h3 #{team.name}
                    if team.subheader != ""
                        p #{team.subheader}
                    each role in team.roles
                        +collapsible(role.title, role.description, role.link)
                h1 #{volunteer.clubsTitle}
                p !{volunteer.clubsSubheader}
        include /views/partials/footer.pug
        
