extends /views/templates/frontend-base.pug

append styles
  link(href="/assets/css/pages/cartoons/archive.css" rel="stylesheet")

append scripts
  script(src="/assets/js/cartoons-archive.js" defer)

block body

  +section("white")
    h1 Cartoons Archive

  each subject in data.subjects
    +section("white")
      h2 #{subject.name}
      each course in subject.courses 
        div(class="menu-button-grid")
          each cartoon in course.cartoons
            button(class="course-button" 
              data-img-srcs=cartoon.images.join(';')
              data-name=cartoon.name
            )
              span(class="course-title") #{subject.name} #{course.courseCode}
              span(class="course-name") #{cartoon.name}

  div(id="cartoon-display-bg")
    div(id="cartoon-display-modal")
      div(id="title-bar")
        h1 Principle of mathematical induction 
        button(id="cartoons-modal-close-btn") x
      div(id="cartoon-modal-content")

